# roughly based on https://gist.github.com/romaninsh/118952ce61643914fb00 (Set up swap on CoreOS)

[Unit]
Description=Turn on 4GiB swap on BTRFS

[Service]
Type=oneshot
Environment="SWAPFILE=/swapfile"
RemainAfterExit=true
ExecStart=/sbin/btrfs-swapon ${SWAPFILE}

[Install]
WantedBy=multi-user.target
